<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caverncell.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
		</dict>	
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caverncell.png</string>
            <key>size</key>
            <string>{768,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d006e784f8f3b4d07f798b5340e2b2$</string>
            <key>textureFileName</key>
            <string>caverncell.png</string>
        </dict>
    </dict>
</plist>
