<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Attack-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,641},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Attack-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Die-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Die-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Die-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Die-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,769},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Die-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,897},{64,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>Die-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,897},{64,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>Die-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,897},{64,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>Die-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,897},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,897},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,897},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,897},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,897},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,897},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,961},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,961},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,961},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-17.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,961},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Die-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,961},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>Jump-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Jump-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Liftwalk-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,513},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Stand-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,129},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,257},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Walk-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,385},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>miko.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:21d006e784f8f3b4d07f798b5340e2b2$</string>
		<key>textureFileName</key>
		<string>miko.png</string>
	</dict>
</dict>
</plist>
