<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Attack</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>Attack-01.png</string>
				<string>Attack-02.png</string>
				<string>Attack-03.png</string>
				<string>Attack-04.png</string>
				<string>Attack-05.png</string>
				<string>Attack-06.png</string>
				<string>Attack-07.png</string>
				<string>Attack-08.png</string>
				<string>Attack-09.png</string>
				<string>Attack-10.png</string>
				<string>Attack-11.png</string>
				<string>Attack-12.png</string>
				<string>Attack-13.png</string>
				<string>Attack-14.png</string>
				<string>Attack-15.png</string>
				<string>Attack-16.png</string>
			</array>
		</dict>
		<key>Die</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>Die-01.png</string>
				<string>Die-02.png</string>
				<string>Die-03.png</string>
				<string>Die-04.png</string>
				<string>Die-05.png</string>
				<string>Die-06.png</string>
				<string>Die-07.png</string>
				<string>Die-08.png</string>
				<string>Die-09.png</string>
				<string>Die-10.png</string>
				<string>Die-11.png</string>
				<string>Die-12.png</string>
				<string>Die-13.png</string>
				<string>Die-14.png</string>
				<string>Die-15.png</string>
				<string>Die-16.png</string>
				<string>Die-17.png</string>
				<string>Die-18.png</string>
			</array>
		</dict>
		<key>Jump</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>Jump-01.png</string>
				<string>Jump-02.png</string>
				<string>Jump-03.png</string>
				<string>Jump-04.png</string>
				<string>Jump-05.png</string>
				<string>Jump-06.png</string>
				<string>Jump-07.png</string>
				<string>Jump-08.png</string>
				<string>Jump-09.png</string>
				<string>Jump-10.png</string>
			</array>
		</dict>
		<key>Liftwalk</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>Liftwalk-01.png</string>
				<string>Liftwalk-02.png</string>
				<string>Liftwalk-03.png</string>
				<string>Liftwalk-04.png</string>
				<string>Liftwalk-05.png</string>
				<string>Liftwalk-06.png</string>
				<string>Liftwalk-07.png</string>
				<string>Liftwalk-08.png</string>
			</array>
		</dict>
		<key>Stand</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>Stand-01.png</string>
				<string>Stand-02.png</string>
				<string>Stand-03.png</string>
				<string>Stand-04.png</string>
				<string>Stand-05.png</string>
				<string>Stand-06.png</string>
				<string>Stand-07.png</string>
				<string>Stand-08.png</string>
				<string>Stand-09.png</string>
				<string>Stand-10.png</string>
			</array>
		</dict>
		<key>Walk</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>Walk-01.png</string>
				<string>Walk-02.png</string>
				<string>Walk-03.png</string>
				<string>Walk-04.png</string>
				<string>Walk-05.png</string>
				<string>Walk-06.png</string>
				<string>Walk-07.png</string>
				<string>Walk-08.png</string>
			</array>
		</dict>
		<key>default</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>defaule/Attack-01.png</string>
				<string>defaule/Attack-02.png</string>
				<string>defaule/Attack-03.png</string>
				<string>defaule/Attack-04.png</string>
				<string>defaule/Attack-05.png</string>
				<string>defaule/Attack-06.png</string>
				<string>defaule/Attack-07.png</string>
				<string>defaule/Attack-08.png</string>
				<string>defaule/Attack-09.png</string>
			</array>
		</dict>
		<key>down_walk_fly_48bat.png</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>down_walk_fly_1_048bat.png</string>
				<string>down_walk_fly_2_048bat.png</string>
				<string>down_walk_fly_3_048bat.png</string>
				<string>down_walk_fly_4_048bat.png</string>
			</array>
		</dict>
		<key>left_walk_fly_48bat.png</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>left_walk_fly_1_048bat.png</string>
				<string>left_walk_fly_2_048bat.png</string>
				<string>left_walk_fly_3_048bat.png</string>
				<string>left_walk_fly_4_048bat.png</string>
			</array>
		</dict>
		<key>right_walk_fly_48bat.png</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>right_walk_fly_1_048bat.png</string>
				<string>right_walk_fly_2_048bat.png</string>
				<string>right_walk_fly_3_048bat.png</string>
				<string>right_walk_fly_4_048bat.png</string>
			</array>
		</dict>
		<key>up_walk_fly_48bat.png</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>up_walk_fly_1_048bat.png</string>
				<string>up_walk_fly_2_048bat.png</string>
				<string>up_walk_fly_3_048bat.png</string>
				<string>up_walk_fly_4_048bat.png</string>
			</array>
		</dict>
		<key>grasscell.png</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>grasscell.png</string>
			</array>
		</dict>
		<key>caverncell.png</key>
		<dict>
			<key>delay</key>
			<real>0.125</real>
			<key>frames</key>
			<array>
				<string>caverncell.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
