<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>down_walk_fly_1_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>down_walk_fly_2_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{200,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>down_walk_fly_3_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{300,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>down_walk_fly_4_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{400,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>left_walk_fly_1_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,100},{100,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>left_walk_fly_2_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,100},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>left_walk_fly_3_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,100},{300,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>left_walk_fly_4_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,100},{400,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>right_walk_fly_1_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{100,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>right_walk_fly_2_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,200},{200,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>right_walk_fly_3_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,200},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>right_walk_fly_4_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,200},{400,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>up_walk_fly_1_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,300},{100,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>up_walk_fly_2_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,300},{200,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>up_walk_fly_3_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,300},{300,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>up_walk_fly_4_048迷你蝙蝠.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,300},{400,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
	</dict>
</dict>
</plist>
